@model IEnumerable<StandBy.Web.DTOs.ProdutoDTO>
@{
    ViewData["Title"] = "Lista de Produto";
    Layout = "_Layout_Loged";
}

<div>
    <h2 class="text-center text-4xl text-gray-500 mb-8">Lista de Produtos</h2>
</div>
<div class="mb-10">
   <ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="lista-de-produtos">produtos Cadastrados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="novo-produto">Cadastrar Novo Produto</a>
  </li>

</ul> 
</div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 class="text-2xl text-gray-500 mt-2" >Filtrar Produto</h2>

<input id="myInput" type="text" placeholder="Procure um produto"
class="bg-gray-200 border border-gray-300 text-gray-900 rounded-lg pl-4 h-10 w-[30vw] mt-2">
<br><br>

<table class="table-auto">
  <thead>
  <tr>
    <th>Códio</th>
    <th>Descriçao</th>
    <th>Valor</th>
    <th>Quantidade Estoque</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody id="myTable">
            @foreach (var item in Model)
            {
                                    <tr>
                                     <td>@item.Codigo</td>
                                     <td>@item.Descricao</td>
                                     <td>@item.Valor</td>
                                     <td>@item.QuantidadeEstoque</td>

                                    <td class="align-bottom px-6 py-4">
                                        <a asp-controller="Produtos" asp-action="Edit" asp-route-id="@item.Id" class="ml-2"><i class="fa fa-pencil text-green-600" aria-hidden="true"></i></a>
                                        <a asp-controller="Produtos" asp-action="Delete" asp-route-id="@item.Id" class="ml-6 text-red-500"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                     </td>
                                     </tr>

            }

      </tbody>
    </table>



    </body>
    </html>

@section Scripts {

                                                                                                                                        <script>
                                                                                                                                        $(document).ready(function(){
                                                                                                                                          $("#myInput").on("keyup", function() {
                                                                                                                                            var value = $(this).val().toLowerCase();
                                                                                                                                            $("#myTable tr").filter(function() {
                                                                                                                                              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                                                                                            });
                                                                                                                                          });
                                                                                                                                        });
                                                                                                                                        </script>

}