@model StandBy.Web.DTOs.PedidoItemDTO;
@{
    ViewData["Title"] = "Inclusão de Produtos";
    Layout = "_Layout_Loged";
}
<div>
    <h2 class="text-center">Inserir Produto no pedido n°: @Model.Id</h2>
</div>
<div >
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="lista-de-pedidos" hidden>s</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="novo-pedido" hidden></a>
  </li>

</ul> 
</div>
<div class="mt-4">

        <form asp-action="Create" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="PedidoId" value="@Model.Id" name="PedidoId" />
            <div class="  mb-4 ">
                <label class="mb-2">Produto e Quantidade</label>
                <div class="d-flex flex-row ">
                <select asp-for="ProdutoID" class="form-control me-2" style="width: 300px;">
                        @foreach (var item in @Model.ListaProdutos)
                        {
                                <option asp-for="@item.Id" value="@item.Id">@item.Codigo</option>

                        }
                </select>
                <input type="number" asp-for="Quantidade" class="form-control me-2"style="width: 100px;"/> 
                <input   class="form-control me-2"style="width: 200px;"/> 
                <input   class="form-control me-2"style="width: 200px;"/> 
                <input type="submit" value="Inserir item" class="btn btn-primary" />
                
                <a class="btn btn-danger ms-auto " asp-action="Index">Cancelar</a>
                
                </div>
            </div>


        </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
