@model IEnumerable<StandBy.Web.DTOs.PedidoDTO>
@{
  ViewData["Title"] = "Lista de Pedidos";
  Layout = "_Layout_Loged";
}

<div>
    <h2 class="text-center text-4xl text-gray-500 mb-8">Lista de Pedidos</h2>
</div>
<div>
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="lista-de-pedidos">Lista de Pedidos </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="novo-pedido">Abrir um Novo Pedido</a>
  </li>
  </div>

<h2 class="text-2xl text-gray-500 mt-2" >Buscar por Pedido</h2>
<input id="myInput" type="text" placeholder="Procure um pedido"
class="bg-gray-200 border border-gray-300 text-gray-900 rounded-lg pl-4 h-10 w-[30vw] mt-2">
<br><br>


<table class="table">
  <thead>
  <tr>

    <th>N° do Cliente</th>
    <th>Data</th>
    <th>Status</th>    
    <th>Valor do pedido</th>    
    <th>Ações</th>
  </tr>
  </thead>
  <tbody id="myTable">
    @foreach (var item in Model)
    {
                                  <tr class="bg-gray-100 hover:bg-gray-300 max-h-6 hover:text-blue-500">
                                  <td class="pl-4">@item.ClienteId</td>
                                  <td class="pl-4">@item.Data</td>
                                  <td class="pl-4">@item.Status</td>
                                  <td class="pl-4">@item.Valor</td>                                       

                                   <td class="align-bottom px-6 py-4">
                    <a asp-controller="PedidosItens" asp-action="Index" asp-route-id="@item.Id" class="mx-4"><i class="fa fa-pencil text-green-600 hover:text-blue-500 " aria-hidden="true"></i></a>
                                     <a asp-controller="Pedidos" asp-action="Delete" asp-route-id="@item.Id" class="ml-6 text-red-500"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                  </td>
                                  </tr>


    }

      </tbody>
    </table>




@section Scripts {

                                                  <script>
                                                  $(document).ready(function(){
                                                    $("#myInput").on("keyup", function() {
                                                      var value = $(this).val().toLowerCase();
                                                      $("#myTable tr").filter(function() {
                                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                      });
                                                    });
                                                  });
                                                  </script>

}