@model IEnumerable<StandBy.Web.DTOs.PedidoDTO>
@{
    ViewData["Title"] = "Lista de Pedidos";
    Layout = "_Layout_Loged";
}

<div>
    <h2 class="text-center">Lista de Pedidos</h2>
</div>
<div>
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="lista-de-pedidos">Lista de Pedidos </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="novo-pedido">Abrir um Novo Pedido</a>
  </li>
  </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nº Pedido</th>
            <th scope="col">Código Do Cliente</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Data Atualização</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                        <tr>
                        <th scope="row">1</th>
                        <td>@item.ClienteId</td>
                        <td>@item.Data</td>
                        <td>@item.Status</td>
                        <td>@item.Valor</td>
                        <td>
                                <a asp-controller="PedidosItems" asp-action="Index" asp-route-id="@item.Id"   class="btn btn-warning">Editar</a>

                        </td>
                        </tr>
        }        


    </tbody>
</table>
