@model StandBy.Web.DTOs.PedidoItemDTO
@{
    ViewData["Title"] = "Inserir no item";
    Layout = "_Layout_Loged";
    
    
}

<div>
    <h2 class="text-center text-4xl text-gray-500 mb-8">Inserir outros produtos no pedido  @Model.PedidoId </h2>
</div>
<div>
   <ul class="nav nav-tabs">
  <li class="nav-item">    
  </li>
  <li class="nav-item">    
  </li>
</ul> 
</div>

<!--Resposta ajax-->
<button  onclick="SendAjax()">enviar</button>
<p class="data">
    
</p>



<div class="row">
    <div class="  mb-4 ">
                <label class="mb-2 text-gray-500 text-2xl">Selecione o cliente</label>
                <form asp-controller="PedidosItens" asp-action="CreateItem"  method="post" >
                    <input hidden asp-for="PedidoId">
                <div class="d-flex flex-row ">
               <select id="prodSelecao" name="ProdutoID" asp-for="ProdutoID"  class="  " >
                    @foreach (var item in @Model.ListaProdutos)
                    {
                                
                                <option value="@item.Id" >@item.Descricao</option>
                                
                    }


                </select>
                <select disabled id="valores" name="ValorUnitario" asp-for="ValorUnitario" class="  " >
                    @for (int i = 0; i < @Model.ListaProdutos.Count; i++)
                    {
                         <option  value="@i">@Model.ListaProdutos[i].Valor</option>
                    }
                   


                </select>


                <input id="valor" type="number" asp-for="Quantidade" class="" />
                          




                <button type="submit" class=" ">Incluir</button>
                <a class=" " asp-route-returnUrl="@Url.Action("Index", "PedidosItens", new { area = "" })">Cancelar</a>

                </div>
                </form>
            </div>
</div>


   




@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}



<script >  

    $(document).ready(function () {
       
        //-------- select preços
        $("#prodSelecao").on("change", function () {
            $("#valores").val($('#prodSelecao')[0].selectedIndex).select

        });
    });

</script>






